html {
    scroll-snap-type: Y mandatory;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}





/* HEADER START */
nav {
    height: 10vh;
    width: 98vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    padding: 10px 10px;
}
ul.menu {
    list-style: none;
    padding: 1.5rem 2.5rem 0rem 2.5rem;
    margin: 0;
}

.menu li {
    display: inline-block;
    font-size: 1.1rem;
}

.menu li a.menu-text {
    color: white;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.3s ease;
    margin: 0 0.5rem 0rem 0.5rem;
    font-family: 'Poppins';
    font-weight: 700;
}

.menu li a.menu-text:hover {
    border-bottom: white 4px solid;
    border-radius: 0%;
}



#watch{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5rem;
    border: 3.5px #E8B322 solid;
    border-radius: 50px;
    padding: 11% 26% 9% 26%;
    /* color: rgb(255, 255, 255); */
    color: #E8B322;
}

#watch:hover {
    color: rgb(255, 255, 255);
    background-color: #E8B322;
    border: 3.5px #E8B322 solid;
}






/* Section HERO */
section#hero {
    background-image: url('../img/water1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    max-width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    scroll-snap-stop: always;

}

img#heroimg{
    width: 70%;
    position: fixed;
}

#arrowdown{
    position: fixed;
    bottom: 2%;
    width: 3%;
    left: 47%;
}
/* Section HERO END*/






section#underwater {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column;
    min-height: 250vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    
    background: linear-gradient(0deg, rgb(4, 6, 36) 10%, rgba(9, 13, 64, 1) 40%, rgba(9, 37, 92, 1) 60%, #00959f 90%, #04AFA9 100%);;
    position: relative;
    scroll-snap-align: top;
    z-index: 2;
}



img#lightbeam {
    position: absolute;
    text-align: center;
    top: 0px;
    height: 80vh;
    width: 90vw;  
    z-index: 1;
}

/* Section1 */
section#diving {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    max-width: 100vw;
    /* border: salmon 1px solid; */
    position: relative;
}

img#bilde {
    position: relative;
    top:80px;
    width: 30%;
    z-index: 1;
    transform: rotate(39deg);
}
div#tittel1 {
    position: absolute;
    width: 235px;
    top:20%;
    display: flex;
    flex-flow: column;
    z-index: 2;
}
h1#chasing,
h1#choral {
    padding: 0;
    margin: 0;
}
h1#chasing {
    text-align: left;
}
h1#choral{
    text-align: right;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 4rem;
}

h2 {
    font-family: 'Poppins';
    font-weight: 700;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
h2.h2red {
    color: #A13248;
}
h2.h2blue {
    color: rgb(0, 164, 179);
}







p#intro {
    position: relative;
    margin: 0;
    max-width: 600px;
    height: 400px;
    text-align: justify;
    /* background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.112) 2%, rgba(255, 255, 255, 0) 100%); */
    padding: 80px;

    color: white;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'poppins', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
    line-height: 2rem;
}

p {
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 2rem;
 
}







/* Section timeline */
div#globalwarming {
    z-index: 2;
    position: relative;
}

h2#impact {
    position: relative;
    text-align: left;
    padding-top: 5%;
    padding-right: 0;
    padding-bottom: 2%;
    padding-left: 4%;
    margin: 0;
    letter-spacing: 1px;
}
#global {
    padding-left: 31%;
    margin: 0;
    width: 95%;
}
section.timeline {
    position: relative;
    top: 0px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
    z-index: 1;
}
/* tidslinjen */
.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: white;
    top: 24%;
    bottom: 8%;
    right: 50%;
    margin-left: -3px;
}
.container {
    /* padding: 10px 40px; */
    position: relative;
    width: 50%;
    /* border: solid 1px mistyrose; */
}
/* circles */
.container::after {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;

    right: -13px;
    bottom: 21%;
    border-radius: 50%;
    border: 3px solid white;
    background-color: rgb(0, 164, 179);
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

/* circle to container on the right */
.red::after {
    background-color: #A13248;
}

/* circle to container on the right */
.right::after {
    left: -15px;
}

/* text */
.content {
    padding: 5px 6vw;
    background-color: none;
    position: relative;
    color: white;
}

.content-title {
    padding: 0;
    margin: 0;
}


/* Korallrev1 */
div.choral {
    position: relative;
    /* display: flex;
    align-items: center; */
    width: 100%;
    height: 400px;
    margin: 0;
    
}
img.stone{
    position: absolute;
    right: 80px;
    bottom:80px;

    width: 70%;
}
img.stone2 {
    position: absolute;
    bottom:45px;
    right: 20%;
    width: 52%;
}
img.stone3 {
    position: absolute;
    bottom:26px;
    left: 20px;
    width: 33%;
}
img#leaf1{
    position: absolute;
    left:10px;
    bottom: 60px;
    width: 15%;
    animation: leafsidetoside1 infinite ease-in-out 3s alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes leafsidetoside1{
    from {
        transform: rotateZ(-12deg);
    }
    to {
        transform: rotateZ(10deg);
    }
}
img#leaf2{
    position: absolute;
    /* left: -35px; */
    left: 35px;
    bottom: 60px;
    width: 18%;
    animation: leafsidetoside2 infinite ease-in-out 3s alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes leafsidetoside2{
    from {
        transform: rotateZ(-8deg);
    }
    to {
        transform: rotateZ(7deg);
    }
}
img#leaf3{
    position: absolute;
    left: 75px;
    bottom: 60px;
    width: 16%;

    animation: leafsidetoside3 infinite ease-in-out 3s alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes leafsidetoside3{
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(10deg);
    }
}
img#choralyellow{
    position: absolute;
    left: 27%;
    bottom: 35px;
    width: 23%;
    animation: updownup infinite ease-out 1.5s alternate;
    transform-origin: bottom;
    /* transform-box: fill-box; */
}
@keyframes updownup{
    from {
        transform: scale(0.95);
    }
    to {
        transform: scale(1);
    }
}
img#choralred {
    position: absolute;
    bottom: 40px;
    right: 30%;
    width: 28%;

    animation: redsidetoside infinite ease-in-out 3s alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes redsidetoside{
    from {
        transform: rotateZ(-2deg);
    }
    to {
        transform: rotateZ(5deg);
    }
}
img#chorallilac {
    position: absolute;
    bottom: 70px;
    right: 0px;
    width: 40%;

    animation: leafsidetoside3 infinite ease-in-out 2s alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes leafsidetoside3{
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(8deg);
    }
}

/* Korallrev3 */
img#deadleafy1{
    position: absolute;
    left:10px;
    bottom: 60px;
    width: 15%;
    animation: deadleafymove1 infinite ease-in-out 3s alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes deadleafymove1{
    from {
        transform: rotateZ(-1deg);
    }
    to {
        transform: rotateZ(1deg);
    }
}
img#deadleafy2{
    position: absolute;
    /* left: -35px; */
    left: 35px;
    bottom: 60px;
    width: 18%;
    animation: deadleafymove2 infinite ease-in-out 3s alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes deadleafymove2{
    from {
        transform: rotateZ(-1deg);
    }
    to {
        transform: rotateZ(1deg);
    }
}
img#deadleafy3{
    position: absolute;
    left: 75px;
    bottom: 60px;
    width: 16%;

    animation: deadleafymove3 infinite ease-in-out 4s alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes deadleafymove3{
    from {
        transform: rotateZ(-1deg);
    }
    to {
        transform: rotateZ(1deg);
    }
}

img#deadyellow{
    position: absolute;
    left: 27%;
    bottom: 32px;
    width: 23%;
    animation: deadyellowmove infinite ease-out 1.5s alternate;
    transform-origin: bottom;
    /* transform-box: fill-box; */
}
@keyframes deadyellowmove{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1);
    }
}
img#deadred {
    position: absolute;
    bottom: 40px;
    right: 30%;
    width: 28%;

    animation: deadredmove infinite ease-in-out 3s alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes deadredmove{
    from {
        transform: rotateZ(-1deg);
    }
    to {
        transform: rotateZ(1deg);
    }
}
img#deadlilac {
    position: absolute;
    bottom: 70px;
    right: 0px;
    width: 40%;

    animation: deadlilacmove infinite ease-in-out 2s alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes deadlilacmove{
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(1deg);
    }
}







/* Section trailer */
section#trailer {
    height: 100vh;
    max-width: 100vw;
    background: rgb(4, 6, 36);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 2;
}
video {
    max-width: 70%;
    padding: 0 auto;
    z-index: 2;
}
div#trailerdecoration {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    flex-flow: row;
    position: relative;
}
    /* decorationleft */
img#leaf4{
    position: absolute;
    left: 20px;
    bottom:10px;
    width: 11%;
    transform: scaleX(-1);
    transform: rotate(-25deg);
    z-index: 0;
}
img#leaf5{
    position: absolute;
    left: 60px;
    bottom:10px;
    width: 13%;
    transform: scaleX(-1);
    transform: rotate(-15deg);
    z-index: 0;
}
img#choralred2{
    position: absolute;
    left: 0px;
    bottom:10px;
    width: 13%;
    transform: scaleX(-1);
    transform: rotate(-15deg);
    z-index: 1;
}
img#stone4{
    position: absolute;
    left: 20px;
    bottom:0;
    width: 20%;
    transform: scaleX(-1);
    z-index: 2;
}
/* decorationleft END*/

/* decorationright */
img#stone5{
    position: absolute;
    right: 0px;
    bottom:10px;
    width: 25%;
    z-index: 2;
}
img#chorallilac4{
    position: absolute;
    right: 10px;
    bottom:10px;
    width: 20%;
    transform: rotate(5deg);
    z-index: 2;
}
img#choralyellow4{
    position: absolute;
    right: 100px;
    bottom:0px;
    width: 10%;

    z-index: 2;
}
img#fish3{
    position: absolute;
    right: 30px;
    top:30%;
    width: 9%;
    z-index: 2;
}
img#fishboble{
    position: absolute;
    right: 0;
    bottom:15%;
    width: 5%;
    z-index: 2;
}

div#netflix{
    padding: 15px 20px;
    border-radius: 50px;
    border: rgb(160, 12, 12) 3px solid;
    box-shadow: 5px 5px 2px rgba(52, 52, 52, 0.05);
}
div#netflix:hover{
    background-color: white;
    border: rgb(255, 255, 255) 3px solid;
}

h3{
    font-size: 2rem;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: rgb(151, 17, 17);
}

a#netflixtext{
    font-size: 2rem;
}
/* decorationright END */








/* Section Take Actions */
section#takeactions {
    max-width: 100vw;
    min-height: 100vh;
    padding: 10vw 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* aligning items/elements horisontally */
    justify-content: center;
    /* aligning items/elements vertically */
    background-color:#040722;
   position: relative;
   z-index: 2;
}

section#action-choices {
    display: grid;
    position: relative;
    height: 60%;
    width: 80%;

    align-items: start;
    /* default strech / center / start / end */
    /*vertically*/
    justify-items: center;
    /* default strech / center / start / end *  /*horisontally*/

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    column-gap: 20px;
    row-gap: 10px;
}

div.action a {
    text-align: center;
}

img {
    width: 100%;
}






/* 900px */
@media screen and (max-width: 900px) {
    nav {
        position: fixed;
    }

    section#hero {
        background-image: url('../img/water2.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        background-attachment: fixed;
        min-height: 100vh;
        max-width: 100vw;
    }
    }
    
    img#heroimg{
        width: 90%;
        position: fixed;
    }
    #arrowdown{
        width: 5%;
        position: fixed;
    }

    /* Timeline section */
    section.timeline {
        max-width: 95vw;
        padding-left: 25px;
    }
    /* The actual timeline */
    .timeline::after {
        left: 30px;
        top: 22%;
        bottom: 11%;
    }
    .left::after,
    .right::after {
        left: -11px;
    }
    .right {
        left: 0%;
    }
    .container {
        padding: 1% 0% 1% 10%;
        position: relative;
        width: 100%;
    }
    /* circles */
    .container::after {
        bottom: 33%;
    }
    .container {
        width: 100%;
    }

    a#netflixtext{
        font-size: 1.4rem;
    }

    div#netflix{
        padding: 9px 20px 13px 20px;
        border-radius: 50px;
        border: rgb(160, 12, 12) 3px solid;
    }
    div#netflix:hover{
        background-color: white;
        border: rgb(255, 255, 255) 3px solid;
    }









/* 768px */
@media screen and (max-width: 768px) {
    section#hero {
        background-image: url('../img/water3.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        background-attachment: fixed;
        min-height: 100vh;
        max-width: 100vw;
    }

    ul.menu {
        padding: 1.5rem 1rem 0rem 2rem;
    }
    .menu li {
        font-size: 1rem;
    }
    #watch{
        font-size: 1rem;
        border: 4px #E8B322 solid;
        padding: 8% 12% 8% 12%;
        position: relative;
    }
    #arrowdown{
        width: 5%;
    }
    img#bilde {
        position: relative;
        top:0px;
        width: 50%;
        z-index: 1;
        transform: rotate(45deg);
    }
    div#tittel1 {
        width: 235px;
        top:18%;
    }

       /* The actual timeline */
       .timeline::after {
        left: 30px;
        top: 20%;
        bottom: 12%;
    }
    
}









/* 500px */
@media screen and (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }
    h2#impact{
        font-size: 2rem;
    }
    p#intro{
        font-size: 1rem;
        line-height: 1.2rem;
    }

    #tittel1{
        width: 50px;
        top: 10%;
    }

    img#bilde {
        position: relative;
        top:0px;
        width: 70%;
        z-index: 1;
        transform: rotate(45deg);
    }
    div#tittel1 {
        width: 100px;
        top:15%;
    }

    p#intro{
        padding: 40px;
    }

    section#hero {
        background-image: url('../img/water4.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        background-attachment: fixed;
        min-height: 100vh;
        max-width: 100vw;
    }

    ul.menu {
        padding: 1.5rem 1rem 0rem 1rem;
    }
    .menu li {
        padding: 0;
        font-size: 0.9rem;
    }
    #watch{
        font-size: 0.8rem;
        border: 3px #E8B322 solid;
        padding: 8% 12% 8% 12%;
        position: relative;
    }
    #arrowdown{
        width: 8%;
    }  


    a#netflixtext{
        font-size: 1rem;
    }

    div#netflix{
        padding: 3px 20px 13px 20px;
        border-radius: 50px;
        border: rgb(160, 12, 12) 3px solid;
    }
    div#netflix:hover{
        background-color: white;
        border: rgb(255, 255, 255) 3px solid;
    }

      /* The actual timeline */
      .timeline::after {
        top: 20%;
        bottom: 12%;
    }

  
}