html, body {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
scroll-behavior: smooth;
}

* { box-sizing: border-box; }




body{
    background: linear-gradient(0deg, rgb(4, 6, 36) 10%, rgba(9, 13, 64, 1) 40%, rgba(9, 37, 92, 1) 60%, #00959f 90%, #04AFA9 100%) no-repeat;
}

nav#navigation {
    height: 10vh;
    width: 98vw;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2.5rem 0rem 1.5rem;
}
ul.menu {
    list-style: none;
    padding: 0;
}
.menu li {
    display: inline-block;
    font-size: 1.1rem;
    padding: 0;
}
.menu li a.menu-text {
    color: white;
    text-decoration: none;
    text-align: right;
    border-radius: 3px;
    transition: 0.3s ease;
    margin: 0 0.5rem;
    font-family: 'Poppins';
    font-weight: 700;
}
.menu li a.menu-text:hover {
    border-bottom: white 4px solid;
    border-radius: 0%;
}

a#logo {
    display: inline-block;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}
span{
    color:#E8B322;
}
#watch{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5rem;
    border: 3.5px #E8B322 solid;
    border-radius: 50px;
    padding: 11% 26% 9% 26%;
    /* color: rgb(255, 255, 255); */
    color: #E8B322;
}

#watch:hover {
    color: rgb(255, 255, 255);
    background-color: #E8B322;
    border: 3.5px #E8B322 solid;
}




section#intro {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: top;
    flex-flow: column;
    /* HøydeBredde */
    height: 100vh;
    max-width: 100vw;
    position: relative;
    top: 100px;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    letter-spacing: 1px;
    font-size: 3rem;
    text-align: center;
}
p{
   max-width: 500px; 
   text-align: center;
   color: white;
}


div#village{
    max-width: 800px;
}
img#villageimg{
    width: 100%;
}



section#producer-director{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: top;
    min-width: 100vw;
    min-height: 100vh;
}
div#orlowski{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    max-width: 100vw;
    height: 200px;
}

div#box1{
    max-width: 270px;
    height: 388px;
    position: relative;
    padding: 0 10px;
}
img#jeff{
    width: 100%;
    height: 100%;
}
h3{
    position: absolute;
    bottom: 10px;
    color: white;
    left: 25%;
    padding: 0;
    margin: 0;
}

div#box2{
    width: 710px;
    padding: 0 auto;
    z-index: 2;
    padding: 5px 10px;
}
video {
    max-width: 100%;
    padding: 0 auto;
    z-index: 2;
}

@media screen and (max-width: 800px) {

    body{
        min-height: 230vh;
    } 
    .menu li {
        font-size: 0.9rem;
        padding: .2rem;
    }
    
    #watch{
        font-size: 1rem;
        border: none;
        padding-left:0;
        /* color: rgb(255, 255, 255); */
    }
    
    #watch:hover {
        color: rgb(255, 255, 255);
        background-color: rgba(210, 105, 30, 0);
        border: none;
    }

    h1{
        font-size: 2rem;
    }
    
}